{% extends "layout.html" %} {% block content %} {% load static %}
    <div class="container">
        <h1>Gestion de la vie associative</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="alert alert-warning">
                    Tu trouveras ton numéro d'adhérent sur ta carte d'adhésion. Le mot de passe est identique à celui du
                    portail
                    <a href="http://entrecles.eedf.fr">Entréclés</a>. Il t'a été communiqué dans le courrier qui
                    accompagne
                    ta
                    carte d'adhésion. Si la personne qui
                    a saisi ton adhésion sur le portail a bien renseigné ton adresse, tu peux également le
                    <a href="http://entrecles.eedf.fr/securite/OubliMotDePasse.aspx">recevoir par email</a>.
                </div>
                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">Le numéro d'adhérent ou le mot de passe sont
                        incorrects.
                        Merci de réessayer.
                    </div>
                {% endif %}
                <form action="/login/" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            {{ field.label_tag }} {{ field }}
                        </div>
                    {% endfor %}

                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-check"></i> Connexion
                    </button>
                    <a href="http://entrecles.eedf.fr/securite/OubliMotDePasse.aspx" class="btn btn-default">Mot de
                        passe
                        perdu ?</a>
                </form>
            </div>
            <div class="col-md-6">
                <img src="{% static 'img/front.png' %}" alt="photo scouts" class="img-fluid img-responsive">
            </div>
        </div>
        <div style="height:30px;"></div>
        <div class="alert alert-danger row" {% if not message %} hidden {% endif %}><i class="fas fa-exclamation"></i> &nbsp;
            &nbsp;{{ message }}
        </div>
    </div>
{% endblock %}
