{% extends "layout.html" %}

{% block content %}
    {% load static %}
    <div class="container">
        <div style="height: 30px;"></div>
        <div class="alert alert-info">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-exclamation fa-stack-1x fa-inverse"></i>
                </span> Vos comptes-rendus
        </div>

        <table class="table table-bordered table-striped">
            <thead>
            <th>#</th>
            <th>SLA</th>
            <th>RESLA</th>
            <th>TRESLA</th>
            <th>Délégue AG</th>
            <th>Délégué AG Adjoint</th>
            <th>Date de l'APL</th>
            <th>Commentaire</th>
            <th>Validation</th>
            </thead>
            <tbody>
            {% if listcr %}
            {% for e in listcr %}
                <tr>
                    <td>{{ e.ordre }}</td>
                    <td>{{ e.sla.nomstructure }}</td>
                    <td>code : {{ e.resla.codeadherent }} <br>
                        nom :{{ e.resla.nom }} <br>
                        prenom :{{ e.resla.prenom }}<br>
                        <i class="far fa-envelope"></i> :
                        <adress>{{ e.resla.adresse }}</adress>
                        <br>
                        <i class="fas fa-mobile-alt"></i> :
                        <tel>{{ e.resla.tel }}</tel>
                        <br>
                    {% if context.user.role == "SUPERADMIN" or context.user.role == "ADMIN"%}
                        <button class="btn btn-primary"><i class="fa fa-check" onclick="nommer({{ e.resla.id }})"></i>Nommer
                        </button>
                    {% endif %}
                        {% if e.treslanome %}
                            Nommé
                            {% else %}
                            Pas encore nommé
                        {% endif %}
                    </td>
                    <td>code : {{ e.tresla.codeadherent }} <br>
                        nom : {{ e.tresla.nom }} <br>
                        prenom :{{ e.tresla.prenom }} <br>
                        <i class="far fa-envelope"></i> :
                        <adress>{{ e.tresla.adresse }}</adress>
                        <br>
                        <i class="fas fa-mobile-alt"></i> :
                        <tel>{{ e.tresla.tel }}</tel>
                        <br>
                        {% if context.user.role == "SUPERADMIN" or context.user.role == "ADMIN"%}
                        <button class="btn btn-primary"><i class="fa fa-check" onclick="nommer({{ e.tresla.id }})"></i>Nommer
                        </button>
                        {% endif %}
                        {% if e.treslanome %}
                            Nommé
                            {% else %}
                            Pas encore nommé
                        {% endif %}
                    </td>
                    <td>code : {{ e.delegueag.codeadherent }}<br>
                        nom : {{ e.delegueag.nom }} <br>
                        prenom :{{ e.delegueag.prenom }} <br>
                        <i class="far fa-envelope"></i> :
                        <adress>{{ e.delegueag.adresse }}</adress>
                        <br>
                        <i class="fas fa-mobile-alt"></i> :
                        <tel>{{ e.delegueag.tel }}</tel>
                    </td>
                    <td>code :{{ e.supdelegueag.codeadherent }}<br>
                        nom :{{ e.supdelegueag.nom }} <br>
                        prenom :{{ e.supdelegueag.prenom }} <br>
                        <i class="far fa-envelope"></i> :
                        <adress>{{ e.supdelegueag.adresse }}</adress>
                        <br>
                        <i class="fas fa-mobile-alt"></i> :
                        <tel>{{ e.supdelegueag.tel }}</tel>
                    </td>
                    <td>{{ e.datecreationcr }}</td>
                    <td>{{ e.corpscr }}</td>
                    <td>
                        {% csrf_token %}
                        {% if context.user.role == "SUPERADMIN" or context.user.role == "ADMIN"%}
                            <button class="btn btn-success" id="valider" onclick="valider({{ e.id }})"><i
                                    class="fas fa-check"></i> Valider
                            </button>
                        {% else %}
                            {% if e.valide %} <i class="fas fa-check"></i>Validé {% else %} <i class="fas fa-hourglass-start"></i> pas encore validé {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            {% else %}
            Aucun compte rendu n'a pu être récupéré
            {% endif %}
            </tbody>
        </table>
    </div>
    <div style="height:100px;"></div>
{% endblock %}
{% block js %}
    <script type="application/javascript">
        function valider(id) {
            console.log("validation cr id= " + id);
            var token = $('input[name="csrfmiddlewaretoken"]').val();
            $.post("{% url 'validercr' %}", {"csrfmiddlewaretoken": token, "crid": id}, function (data) {
                console.log(data)
                if (data.answer == 'validation') {
                    alert("Validation du compte rendu avec succés");
                    document.location.href = "{% url 'listcr' %}"
                }
            })
        }
    </script>

{% endblock %}