{% extends "layout.html" %} {% block content %} {% load static %}

    <div class="container">

        <div style="height:30px;"></div>
        <div class="alert alert-info row">Séléctionner un élément du menu ci dessous :</div>
        <div class="row">

            <div class="col-md-2 text-center">
                <a href="{% url 'docs' %}">
                    <img src="{% static '/icons/info_black.svg' %}" alt="info_color.svg" >
                </a>
            </div>
            <div class="col-md-2 text-center">
                <a href="{% url 'listemargement' %}">
                    <img src="{% static '/icons/user_black.svg' %}" alt="user_color.svg" >
                </a>
            </div>

            <div class="col-md-2 text-center">
                <a href="{% url 'editcr' %}">
                    <img src="{% static '/icons/write_black.svg' %}" alt="write_color.svg" >
                </a>
            </div>

            <div class="col-md-2 text-center">
                <a href="{% url 'listcr' %}">
                    <img src="{% static '/icons/file_black.svg' %}" alt="file_color.svg" >
                </a>
            </div>
            <div class="col-md-2 text-center">
                <a href="{% url 'nomination' %}">
                    <img src="{% static '/icons/list_black.svg' %}" alt="list_color.svg" >
                </a>
            </div>
            {% if context.user.role == "admin" %}
                <div class="col-md-2 text-center">
                    <a href="{% url 'listnomination' %}">
                        <img src="{% static '/icons/admin_black.svg' %}" alt="admin_color.svg" >
                    </a>
                </div>
            {% endif %}

        </div>
        <div class="row">

            <div class="col-md-2 text-center">
                <a href="{% url 'docs' %}">
                    Documentation
                </a>
            </div>
            <div class="col-md-2 text-center">
                <a href="{% url 'listemargement' %}">
                    Liste d'émargement
                </a>
            </div>

            <div class="col-md-2 text-center">
                <a href="{% url 'editcr' %}">
                    Nouveau Compte rendu
                </a>
            </div>

            <div class="col-md-2 text-center">
                <a href="{% url 'listcr' %}">
                    Mes comptes rendus
                </a>
            </div>
            <div class="col-md-2  text-center">
                <a href="{% url 'nomination' %}">
                    Demander une nomination
                </a>
            </div>
            {% if context.user.role == "admin" %}
                <div class="col-md-2 text-center">
                    <a href="{% url 'listnomination' %}">
                        Valider les nominations
                    </a>
                </div>
            {% endif %}

        </div>
    {% if context.user.nomine %}
        <div class="alert alert-warning">
            <i class="fa fa-exclamation"></i>
            Bonjour {{ context.user.name }}, vous avez reçu une nomination pour rédiger votre compte rendu
            d'apl pour la sla {{ context.user.sla }} région {{ context.user.region }}
        </div>
        {% else %}
        <div class="alert alert-danger">
            <i class="fa fa-exclamation"></i>
            Bonjour {{ context.user.name }}, vous n'avez pas encore reçu de nomination pour rédiger votre compte rendu
            veuillez effectuer votre demande <a href="/nomination/">ici</a>
        </div>
    {% endif %}
    </div>
{% endblock %} {% block script %}
    <script>
        var old;
        $(".col-md-2 > a > img").mouseenter(function () {
            old = this.src;
            this.src = "{% static '/icons/'%}" + this.alt;
            this.style="border: solid #666666; border-radius: 5px;";
        });
        $(".col-md-2 > a > img").mouseleave(function () {
            this.src = old;
            this.style="";
        });
    </script>
{% endblock %}
