{% extends "layout.html" %}

{% block content %}
    {% load static %}
    <div class="container">
        <div style="height:30px;"></div>
        <div class="alert alert-info row"><i class="fas fa-exclamation"></i> &nbsp; Choissez le role du demandeur et cliquer sur valider
        </div>
        <table class="table table-bordered table-sm">
            <thead class="bg-light">
            <th>login</th>
            <th>Nom & prénom</th>
            <th>Mail</th>
            <th>Tel</th>
            <th>Adresse</th>
            <th>CP</th>
            <th>SLA</th>
            <th>Region</th>
            <th>Date</th>
            <th>Role</th>
            <th>Edition</th>
            </thead>
            <tbody>
            {% for o in list %}
                <tr>
                    <td>{{ o.login }}</td>
                    <td>{{ o.name }}</td>
                    <td>{{ o.mail }}</td>
                    <td>{{ o.tel }}</td>
                    <td>{{ o.adresse }}</td>
                    <td>{{ o.cp }}</td>
                    <td>{{ o.sla }}</td>
                    <td>{{ o.region }}</td>
                    <td>{{ o.date }}</td>
                    <td>
                        {% if not o.role %}
                            <select class="custom-select" id="role{{ o.id }}">
                                <option value="ADMIN">ADMIN</option>
                                <option value="REDACTEUR">REDACTEUR</option>
                            </select>
                        {% else %}
                            {{ o.role }}
                        {% endif %}
                    </td>
                    <td>

                        <button id="btn{{ o.id }}" class="btn btn-success"   {% if o.role %} disabled {% endif %}
                                onclick="valider({{ o.id }});">
                            <i class="fa fa-check"></i> Valider
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% csrf_token %}


    </div>

{% endblock %}
{% block script %}
    <script>
        function valider(id) {
            $.post("/validernomination/",
                {
                    "csrfmiddlewaretoken": $("input[name='csrfmiddlewaretoken']").val(),
                    "id": id,
                    "role": $("#role" + id + " :selected").text(),
                },
                function (data) {
                    if (data.answer == true) {
                        $("#btn" + id).prop("disabled", true);
                    }
                }
            );
            return false;
        }
    </script>

{% endblock %}